header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    margin: auto;
    padding: 15px;
}

.header{
    background: linear-gradient(to left, #42f5e6, #4e42f5);
    height: 50px;
}

#genButton{
    background-color: #5e0080;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    padding: 15px 32px;
    margin-top: 10px;
    border-radius: 1em;
}

#genButton:hover{
    background-color: #e8aefc;
}

.page{
    background: #e3e3e3;
    height: 500px;
    padding-left: 10px;
}

#message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: white;
    padding: 15px;
}